<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>任务新增</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">
</head>
<body style="height: 100%;">

<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
	    <label class="layui-form-label">项目</label>
	    <div class="layui-input-block">
		    <select name="projectId" id="projectId" lay-filter="aihao">
			    <option value=""></option>
			    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
		    </select>
	    </div>
    </div>
	<div class="layui-form-item">
		<label class="layui-form-label">注意事项</label>
		<div class="layui-input-block">
			<input id="notice" type="text" name="notice" disabled class="layui-input " value="必须是由dist文件夹压缩的.rar文件或者.zip文件上传的才行">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">文件</label>
		<div class="layui-input-block">
			<input id="file" type="file" name="file" accept=".zip,.rar" class="layui-input ">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">更新描述</label>
		<div class="layui-input-block">
			<textarea name="describe" id="describe"  placeholder="更新描述" class="layui-textarea"></textarea>
		</div>
	</div>
    <div class="layui-form-item" style="text-align: center">
        <button class="layui-btn" lay-submit="" lay-filter="add-form-submit">确定</button>
    </div>
</form>
</body>
<script src="/component/jquery/jquery.min.js"></script>
<script src="/component/layui/layui.all.js"></script>
<script src="/js/api.js"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,upload = layui.upload;
        form.on('submit(add-form-submit)', function(data){
            var jsonData = data.field;
            if(!jsonData.projectId || jsonData.projectId == ''){
                layer.msg("请选择项目", {icon: 2});
                return false;
            }
            if(!jsonData.describe || jsonData.describe == ''){
                layer.msg("请选择项目更新描述不能为空", {icon: 2});
                return false;
            }
            if(!jsonData.file || jsonData.file == ''){
                layer.msg("请选择上传文件", {icon: 2});
                return false;
            }
            var formData = new FormData();
            formData.append("projectId",jsonData.projectId);
            formData.append("describe",jsonData.describe);
            formData.append("file",$("#file")[0].files[0]);
            $.ajax({
                url: '/deploy/add/submit',
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    layerLoad = layer.load();
                },
                success: function (data) {
                    layer.close(layerLoad);
                    if (data.success) {
                        layer.msg(data.codeMessage, {
                            icon: 1,
                            time: 2000
                        }, function(){
                            parent.location.reload();
                            window.close();
                        });
                    } else {
                        layer.msg(data.codeMessage, {icon: 2});
                    }
                },
                error: function () {
                    layer.close(layerLoad);
                    layer.msg("网络开小差啦", {icon: 5});
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>
</html>