<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>任务用户</title>
    <link rel="stylesheet" href="/component/layui/css/layui.css">
</head>
<body style="height: 100%;">

<form class="layui-form layui-form-pane" action="">
	<div class="layui-form-item">
		<label class="layui-form-label">用户名</label>
		<div class="layui-input-block">
			<input id="userName" type="text" name="userName"  class="layui-input " value="">
		</div>
	</div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文名</label>
        <div class="layui-input-block">
            <input id="userCname" type="text" name="userCname"  class="layui-input " value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input id="password" type="password" name="password"  class="layui-input " value="">
        </div>
    </div>
    <div class="layui-form-item" style="text-align: center">
        <button class="layui-btn" lay-submit="" lay-filter="add-form-submit">确定</button>
    </div>
</form>
</body>
<script src="/component/jquery/jquery.min.js"></script>
<script src="/component/layui/layui.all.js"></script>
<script src="/component/common/md5.min.js" charset="utf-8"></script>
<script src="/js/api.js"></script>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,upload = layui.upload;
        form.on('submit(add-form-submit)', function(data){
            var jsonData = data.field;
            if(!jsonData.userName || jsonData.userName == ''){
                layer.msg("请输入用户名", {icon: 2});
                return false;
            }
            if(!jsonData.userCname || jsonData.userCname == ''){
                layer.msg("请输入中文名", {icon: 2});
                return false;
            }
            if(!jsonData.password || jsonData.password == ''){
                layer.msg("请输入密码", {icon: 2});
                return false;
            }
            jsonData.password = md5(jsonData.password);
            $.ajax({
                url: '/user/add',
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(jsonData),
                beforeSend: function () {
                    layerLoad = layer.load();
                },
                success: function (data) {
                    layer.close(layerLoad);
                    if (data.success) {
                        layer.msg(data.codeMessage, {
                            icon: 1,
                            time: 2000
                        }, function(){
                            window.close();
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(data.codeMessage, {icon: 2});
                    }
                },
                error: function () {
                    layer.close(layerLoad);
                    layer.msg("网络开小差啦", {icon: 5});
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });
</script>
</html>
